<div class="container" class="sidenav">
    <mat-nav-list matLine routerLinkActive="active" *ngFor="let link of topicslist"[routerLink]="['/questions',link.topic]">
      <mat-list-item >{{link.topic}}</mat-list-item>
    </mat-nav-list>
    
</div>

<div class="main">

</div>
<router-outlet></router-outlet>


<!--<div>
<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav #drawer mode="side" opened role="navigation" position="start">
    <mat-nav-list  routerLinkActive="active" *ngFor="let link of topicslist"[routerLink]="['/questions',link.id]">
      <mat-list-item >{{link.topic}}</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>-->

<!--<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
      <div routerLinkActive="active" *ngFor="let link of topicslist"[routerLink]="['/questions',link.id]">
      {{link.topic}} 
      </div>

  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>-->


<!--<div class="container">
    <mat-sidenav-container fullcreen>
      <mat-sidenav position="start" mode="side" role="navigation" opened>
          <mat-nav-list >
               <mat-list-item matLine routerLinkActive="active" *ngFor="let link of topicslist"[routerLink]="['/questions',link.id]">
               {{link.topic}} 
               </mat-list-item>
            </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
       This is the QnA application
       <router-outlet></router-outlet> 
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>-->
 