<mat-toolbar color="primary" class="fixed-header" >
	<p class="appname"><strong>QnA Application</strong></p>
	<!--<div class="keep-c-toggle-view">
		<i *ngIf="isNoteView" class="material-icons switchToListView" (click)="setView('lv')">view_list</i>
		<i *ngIf="!isNoteView" class="material-icons switchToNoteView"  (click)="setView('nv')">view_quilt</i>
	
	</div>-->
	<div class="keep-c-toggle-view "><a class="error-message" [routerLink]="['/login']">
		<font color="red" float="end">Log Out
			<!--<p class="headpic">Profil</p>-->
		</font>
	  </a></div>
</mat-toolbar>
<!--<app-topics></app-topics>-->
